# KiCad
*.kicad_prl
*.lck
*-backups/
fp-info-cache
*.bak
*.kicad_sch-bak
*.kicad_pcb-bak
_autosave-*
*.000

# Firmware / PlatformIO
.pio/
firmware/.pio/
.vscode/

# Windows y macOS
Thumbs.db
Desktop.ini
.DS_Store

# VS Code Local History
.history/
